<html>
    <h1>Short Bio</h1>
    <p>
        I am a second-year PhD student at Purdue University, studying for a computer science degree under the supervision of Prof. <a href="https://raymond-yeh.com/">Raymond A. Yeh</a>
    </p>    
    <p>
        I am broadly interested in Computer Vision, Machine Learning and Robotics, with a focus on 3D vision and multi-modal learning. 
        My current project focus on Semantic 3D Gaussian Splatting.
        I have also worked on projects related to stylized novel views generation from 2D image.
    </p> 
    <p>
        I received my Bachelor's degrees from University of Wisconsin-Madison in 2023, 
        where I have worked with Prof. <a href="https://www.biostat.wisc.edu/~yli/">Yin Li</a> for one year. 
    </p>
</html>
